.weatherBox{
    width: 20rem;
    height: 40rem; 
    display: flex; 
    background-color: #0073cf;
    background-image: linear-gradient(315deg, #0073cf 0%, #f2f0ef 74%);
    border-radius: 10px;
    flex-direction: row;
    
}

.weatherDiv{
    border: 1px solid transparent; 
    width: 20rem; 
    margin: 10px; 
    display: flex; 
    flex-direction: column;
   
}